//variables globales, van para todo el proyecto

//colores
$mainColor: #df98b2;
$secondaryColor: #f2c4de;
$keyColor: black;

//fonts
$mainFont: 'Playfair Display', serif;
$textSm: 1em;
$textMd: 1.5em;
$textLg: 2.4em;
$textBold: 500;
$textLight: 200;

//se puede agregar variables flex
//maps - paleta de colores