//variables globales, van para todo el proyecto

//colores
$mainColor: #df98b2;
$secondaryColor: #f2c4de;
$keyColor: black;

//fonts
$mainFont: 'Playfair Display', serif;
$textSm: 1.5rem;
$textMd: 2rem;
$textLg: 3rem;
$textBold: 500;
$textLight: 200;

//se puede agregar variables flex
//maps - paleta de colores